/* styles.css */

/* Layout container */
.layout-container {
    background-color: #f3f4f6; /* Adjust background color as needed */
    height: 100%;
    width: 100vw;

    display: flex;
    flex-direction: row;
  }
  
  /* Main content container */
  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    
  }
  
  /* Header container */
  .header-container {
    padding: 1rem; /* Adjust padding as needed */
  }
  
  /* Content container */
  .content-container {
    flex: 1;
    padding: 1rem; /* Adjust padding as needed */
    height: 100%;
  }
  
  