.main{
  position: relative;
  background: black;
}
.topic{
  text-align: center;
  padding-top: 50px;
  background: linear-gradient(120deg, #009A89, #EB9019);
  -webkit-background-clip: text; /* For webkit browsers like Chrome and Safari */
  color: transparent;
  font-size: 4.5rem;
  font-size: 5.5rem;
  font-weight: 500;
}
.video{
  position: absolute;
  z-index: -1;
  top:0;
  left:0;
  width:100%;
height: 100%;
  object-fit: cover;}
  @media (max-width: 576px){

    .topic{
      text-align: center;
      padding-top: 50px;
      background: linear-gradient(120deg, #009A89, #EB9019);
      -webkit-background-clip: text; /* For webkit browsers like Chrome and Safari */
      color: transparent;
      font-size: 3rem;

      font-weight: 500;
    }
  }