@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form {  }
.alldetails{
  // background:rgb(30,30,40);
  height: auto;

}
.form-fill{
  justify-content: center;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #117865;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 15px;
  width:70%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #117865; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 40%;
  background:#117865;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#117865; }

.welc-user{
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comp-loc{
  color:#fff;
  font-size: 2rem;
  padding-top: 20px;;
  text-align: center;
}
@media (max-width: 868px){

  .feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 14px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #117865;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:80%;
    box-sizing: border-box;
    outline:0;
  }
  .form-fill{
    justify-content: center;
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    flex-wrap: wrap;
  }
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 60%;
    background:#117865;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
 
}/* Form.scss */
.alldetails {

}

/* Styles for the table */
table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

/* Styles for the table data */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

/* Styles for the table cells */
td {
  padding: 8px;
}

/* Styles for the table header */
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
.left-side{
  background-color: #064d3e;
  color: #fff;
}
.Right-side{
  background-color: #fff;
  color: #117865;
}
.for-table{
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.repai-opti{
  color: black;
}
.repairbut{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Repair{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background:#117865;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:20px;
  padding-top:10px;
  padding:10px;
  transition: all 0.3s;
  margin: 10px;
  font-weight:700;
}
.welc-user{
  display: flex;
  flex-direction: row;
  gap:40px
}
.comp-loc{
  width:300px;
  font-size: 1.5rem;
}
.cur-loc{
  color: #117865;

}
.costof{
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:24px;
  font-weight:700;
  margin-top: 30px;
}
.years{
 display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;

  
}
.two{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 50%;
    background:#117865;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:30px;
    font-weight:700;
}
.fiveyear{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 50%;
  background:#117865;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:30px;
  font-weight:700;
}
.table-submit{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 50%;
    background:#117865;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:30px;
    font-weight:700;
}