.Hero{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    background:#F6F6F2;
    height: 100vh;
}
.Head{
    height: 500px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    justify-content:center;
    align-items: center;
    
  }

.Car{
    height: 700px;
    width: 700px;
}
.h11{
    text-align: center;
    font-size: 5.5rem;
    font-weight: 600;
    color:#388087;
    

}
.p11{
    text-align: justify;
    color: #009A89;
    font-size: 2rem;
}
.solutions{
    background: linear-gradient(120deg, #388087, #6FB3B8);
    -webkit-background-clip: text; /* For webkit browsers like Chrome and Safari */
    color: transparent;
    font-size: 2.5rem;
}
.blob{
    opacity: 0.16;
    position: absolute;
    width:300px;
    height: 300px;
}
.next{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color:#009A89;
}
@media only screen and (max-width: 768px) {
    .Hero {
        flex-direction: column;
        padding-top: 20px; /* Adjust as needed */
    }

    .Head {
        height: auto; /* Adjust height as needed */
        padding: 20px;
    }

    .Car {
        height: auto; /* Adjust height as needed */
        width: 80%; /* Adjust width as needed */
    }

    .h11 {
        font-size: 4rem; /* Adjust font size as needed */
    }

    .p11 {
        font-size: 1.5rem; /* Adjust font size as needed */
    }
    .next{
        text-align: center;
        font-size: 2rem;
    }
  
}
  