.Hero{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    background:#F6F6F2;
    height: 100vh;
    
}
.Head{
    height: 500px;
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    justify-content:center;
    align-items: center;
    
  }

.Car{
    height: 700px;
    width: 700px;
}
.h11{
    text-align: center;
    font-size: 4.5rem;
    font-weight: 600;
    background: linear-gradient(120deg,#0599aa, #09238d, #0599aa);
    -webkit-background-clip: text; /* For webkit browsers like Chrome and Safari */
    color: transparent;
    justify-content: center;
    

}
.p11{
    text-align: justify;
    background: linear-gradient(120deg,#0599aa, #09238d, #0599aa);
    -webkit-background-clip: text; /* For webkit browsers like Chrome and Safari */
    color: transparent;
    font-size: 2rem;
}
.solutions{
    background: linear-gradient(120deg,#0599aa, #09238d, #09238d);
    -webkit-background-clip: text; /* For webkit browsers like Chrome and Safari */
    color: transparent;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
}

.blob{
    opacity: 0.16;
    position: absolute;
    width:300px;
    height: 300px;
}
.next{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color:#009A89;
}
.p1{
    width:55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p2{
    width:40vw;
    display: flex;
    color: #009A89;
}
  
@media (max-width: 768px) {
    .Hero {
        flex-direction: column;
        padding-top: 20px; /* Adjust as needed */
    }
    .solutions{
      background: linear-gradient(120deg,#0599aa, #09238d, #09238d);
      -webkit-background-clip: text; /* For webkit browsers like Chrome and Safari */
      color: transparent;
      font-size: 1.5rem;
      align-items: center;
      justify-content: center;
  }
    .Head {
        height: auto; /* Adjust height as needed */
        width: 100%;
        padding-left: 10px;
         } 

    .Car {
        height: auto; /* Adjust height as needed */
        width: 100%; /* Adjust width as needed */
    }

    .h11 {
        font-size: 2.2rem; /* Adjust font size as needed */
    }

    .p11 {
        font-size: 1.1rem; /* Adjust font size as needed */
    }
    .next{
        text-align: center;
        font-size: 2rem;
    }
    .p1{
      width: 100%;
    }
    .p2{

        display: none;
    }
}

@keyframes gradient {
    to {
      background-position: var(--bg-size) 0;
    }
  }
  
  .gradient {
    animation: gradient 8s linear infinite;
  }
.etrad{
  background: linear-gradient(to right, #df19b5 33.33%,#2989d8 66.66%,#207cca 100%,#0597dd 100%);
  font-weight: 600;
  -webkit-background-clip: text; /* For webkit browsers like Chrome and Safari */
  color: transparent;
  font-size: 1.2rem;
}