.three{
    position:relative;
    padding:0px;
    height: 100vh !important;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: radial-gradient(circle at center center,#000000,#3CB371,#3CB371,#000000);
}