.footer{
    padding: 0 0 50px 0;
    background:#117865;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px; 
    color:#fff;
    display: flex;
   justify-content: center;
   width: 99vw;

}
.footer-cont{
 width: 100%;
 height: 100%;
}
.emblem{
    height:14vh;
  }
  .num{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    cursor: pointer;
  }
  .mail{
    cursor: pointer;
    padding-top: 20px;;
  }
  .thick{
    font-weight: 700;

  }
  @media (max-width: 768px){
    .footer{
      padding:0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .num{
      font-size: 1rem;;
    }
  }
