.Warranty{
    display: flex;
    flex-direction: row;
    background:black;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    padding: 20px;;
  
}
.year{
    height: 350px;
    width: 350px;
}
.text{
    color: #fff ;
    width:50%;

}
.exse{
    font-size: 3rem;
   padding-bottom: 15px;
   text-align: center;
}
@media (max-width: 768px){
    .Warranty{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    height: 100vh;
    align-items: center;
    }
    .year{
        height: 60%;
        width: 60%;

    }
    .text{
        color: #fff ;
        width:80%;

    
    }
    .exse{
        font-size: 2rem;
       padding-bottom: 15px;
    }
    .loo{
        font-size: 1rem;
    }
    .extent{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}